body {
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#mostrarCarta {
  width: 350px;
  height: 450px;
  background: white;
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 15px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border: black solid 1px;
  font-size: 100px;
  font-weight: bold;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  width: 350px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#Ancho,
#Alto {
  width: 170px;
  padding: 5px;
  background-color: red;
  color: white;
  margin: 4px;
  text-align: center;
}

.col3.d-flex.justify-content-end {
  transform: rotate(180deg);
}
